body {
  margin: 0;
}

header {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 10px 10px 0 10px;
}

header h1 {
  margin: 0;
  font-weight: normal;
}

h2 {
  margin-left: 10px;
}

.todos-container {
  margin-left: 10px;
}
.todos-container ul {
  margin: 0px;
  padding: 0px;
}

.item-container {
  display: flex;
  border-radius: 10px;
  padding: 1rem;
}

.item-container:hover {
  cursor: pointer;
}

.item-container .item-checkbox {
  margin-right: 10px;
}

.item-container .item-label {
  font-size: 16px;
  color: black;
}
.item-container .item-label.checked {
  color: grey;
  text-decoration: line-through;
}
